.App {
  text-align: center;
}

#logo {
  height: 5rem;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: solid 2px red;
}

.nav-link {
  margin: 0.5rem;
}

.main {
  display: flex;
  border: solid 2px rgb(136, 0, 255);
}

.product_list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  border: solid 2px rgb(47, 0, 255);
  width: 100%;
}

.product {
  border: solid 2px rgb(0, 247, 255);
}

.product img {
  max-width: 5rem;
}
